<div class="content">
  <div class="square square8">
    <div class="square square7">
      <div class="square square6">
        <div class="square square5">
          <div class="square square4">
            <div class="square square3">
              <div class="square square2">
                <div class="square square1">
                  <p class="text-center float-text">
                    A floating banner text which keeps rotating
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
