mat-grid-tile {
  background: lightgray;
}

.content {
  margin: 3rem;
  height: 350px;
}

.web-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
}

.grid-btn {
  margin-right: 1rem;
}
